<div class="headerNav">
  <div class="container">
    <div class="row headerNavBox">
      <a href="<%= root_path %>" class="col-xs-12 col-sm-3 headerNavBtn">
        トップページ
      </a>
      <a href="<%= users_path %>" class="col-xs-12 col-sm-3 headerNavBtn">
        ユーザー検索
      </a>
      <div class="col-xs-12 col-sm-3 headerNavBtn" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"><%= link_to 'プロフィール編集', edit_user_registration_path %></li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        </ul>
      </div>

    </div>
  </div>
</div>